.signup_container {
    height: 84vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_color);
    z-index: 1;
    position: relative;
}

.signup_header {
    min-height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_form {
    height: 100%;
    width: 100%;
    z-index: 100;
    text-align: center;
    background-color: var(--main_color);
    padding: 2rem 0;
    border-radius: 1rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.signup_form>.signup_form_heading {
    width: fit-content;
    margin: 1rem auto;
    padding: .2rem;
    margin-top: 0;
    border-bottom: 3px solid var(--bg_color);
    color: var(--bg_color);
}


.signup_formGroup {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: .2rem 2rem;
    color: red;
}

.signup_form_input {
    padding: .5rem 0rem;
    font-weight: bold;
    width: 100%;
    text-indent: .5rem;
    border: 2px solid var(--bg_color);
    outline: none;
    margin-top: .5rem;
}

.login_formGroup input:focus {
    border: 2px solid var(--main_color) !important;
}

#signup_btn {
    width: 100%;
    margin-top: 1rem;
    color: var(--main_color);
    letter-spacing: 2px;
    font-weight: 700;
    background-color: var(--bg_color);
    border-radius: .4rem;
}

.signup_error_message {
    font-size: .9rem;
    color: red;
}

.back_btn {
    background-color: var(--main_color);
    color: var(--bg_color);
    position: absolute;
    padding: .5rem 1rem;
    top: 1rem;
    left: 1rem;
    font-weight: bold;
    cursor: pointer;
}