.footer_main {
    width: 100vw;
    height: 8vh;
    border-top: 2px solid var(--main_color);
    background-color: var(--bg_color);
    color: var(--main_color);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.footer_copy {
    word-spacing: .3rem;
    letter-spacing: .1rem;
}