.login_container {
    height: 84vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: var(--bg_color);
}

.login_header {
    min-height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    height: 100%;
    width: 100%;
    z-index: 100;
    text-align: center;
    /* background-color: rgba(1, 1, 1, .1); */
    background-color: var(--main_color);
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.login_form>.login_form_heading {
    width: fit-content;
    margin: 1rem auto;
    padding: .2rem;
    margin-top: 0;
    border-bottom: 3px solid var(--bg_color);
    color: var(--bg_color);
}


.login_formGroup {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: .2rem 2rem;
}

.login_form_input {
    padding: .5rem 0rem;
    font-weight: bold;
    width: 100%;
    text-indent: .5rem;
    border: 2px solid var(--bg_color);
    outline: none;
    margin-top: .5rem;
}

.login_formGroup input:focus {
    border: 2px solid var(--main_color) !important;
}

#login_btn {
    width: 100%;
    margin-top: 1rem;
    color: var(--main_color);
    letter-spacing: 2px;
    font-weight: 700;
    background-color: var(--bg_color);
    border-radius: .4rem;
}